#rcp-rate-criterion-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#rcp-welcome-panel{
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#rcp-rate-criterion-card{
    min-width: 500px;
}

#rcp-rate-criterion-card-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#rcp-rate-criterion-card-button-panel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rcp-rate-criterion-card-button-panel-button{
    min-width: 100px;
    margin-left: 5px;
    margin-right: 5px;   
}

#rcp-rate-criterion-card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#rcp-number-range-criterion-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rcp-number-range-criterion-container-member{
    margin-left: 5px;
    margin-right: 5px;
}


.rcp-smiley-number-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#rcp-numeric-criterion-rating-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#rcp-numeric-criterion-rating-container-header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 400px;

}

#rcp-numeric-slider{
    min-width: 400px;
}

.rcp-numeric-axis-indicator-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rcp-numeric-axis-indicator-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    min-width: 200px;
}

.rcp-numeric-axis-indicator-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    min-width: 200px;
}

#rcp-float-range-criterion-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rcp-float-range-criterion-container-member{
    margin-left: 5px;
    margin-right: 5px;
}


.rcp-smiley-float-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#rcp-float-criterion-rating-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#rcp-float-criterion-rating-container-header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 400px;

}

#rcp-float-slider{
    min-width: 400px;
}

.rcp-float-axis-indicator-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rcp-float-axis-indicator-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    min-width: 200px;
}

.rcp-float-axis-indicator-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    min-width: 200px;
}

#rcp-comment-criterion-rating-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#rcp-comment-criterion-rating-container-header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 400px;
}

#rcp-comment-text-area{
    width: 400px;
    max-width: 400px;
    height: 300px;
    max-height: 300px;
}

#rcp-text-value-criterion-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.rcp-text-value-criterion-container-member{
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rcp-member-div{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}